# Supabase
NEXT_PUBLIC_SUPABASE_URL=https://jipldlklzobiytkvxokf.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_U6GY4ye0Ga2MzO9NilHbpg_M4yURNJu

# Mercado Pago (usar en edge functions)
# MERCADOPAGO_ACCESS_TOKEN=...

# Dentalink (ya configurado en lib/supabase.ts)
# DENTALINK_TOKEN=q9QsnoKG1tBoOZqJnvgqZ0tFIbH3LVNznPJWQPrJ
